/* AppTheme.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    color: #333;
    margin: 0;
    padding: 0;
  }
  
  .dashboard-container,
  .register-container,
  .login-container,
  .trainer-selection-container,
  .nutrition-container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  }
  
  button {
    background-color: #ff0000;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
    font-weight: bold;
  }
  
  button:hover {
    background-color: #cc0000;
  }
  
  input, select {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  h2 {
    color: #ff0000;
    text-align: center;
  }
  
  h3, h4 {
    color: #333333;
  }
  
  .goal-form, .workout-form, .nutrition-form {
    margin-top: 20px;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  /* AppTheme.css */

/* Adding styles for the title */
.title {
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    color: #ff0000; /* Red color for title */
    margin-bottom: 20px;
    font-family: 'Roboto', sans-serif; /* Add a stylish font */
  }
  
  /* Adding a subtitle style for better branding */
  .subtitle {
    font-size: 18px;
    text-align: center;
    color: #333333;
    margin-bottom: 30px;
    font-family: 'Roboto', sans-serif;
  }
  
  